html {
  box-sizing: border-box;
  font-family: verdana;
}

body {
	padding: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
	margin-top: 30px;
	border-bottom: 1px solid black;
}

section:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

section {
  margin-top: 48px;
  margin-bottom: 8px;
  /* border: 1px solid red; */
}

.key-item {
  /*border: 1px solid black;*/
  width: 128px;
  height: 128px;
  overflow: hidden;
  float: left;
  margin: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 13px;
  border: 8px solid grey;
}
.key-item[selected="true"] {
  border:8px solid magenta;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.25);
}
.key-item:nth-child(4),
.key-item:nth-child(7){
  clear: auto;
}

.requirement[fulfilled="true"]::before {
  content: "\2714\a0";
  color: limegreen;
  position: absolute;
  margin-left: -38px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
}

.col {
  width: 50%;
  float: left;
}

.col.left {
  padding-right: 5px;
  /* border: 1px solid blue; */
}

.col.right {
  padding-left: 8px;
  /* border: 1px solid blue; */
}

.col.l4x3 {
  width: 75%;
  /* border: 1px solid blue; */
}
.col.l4x1 {
  width: 25%;
  /* border: 1px solid blue; */
}

section {
  clear: both;
  /* border:1px solid red; */
  width: 100%;
}

.red {
  color: red;
}
.green {
  color: green;
}

#output-hash {
	padding: 10px 20px;
	font-family: "Courier New", Courier, monospace;
	color: green;
	border: 1px dashed green;
	background: rgba(0, 255, 0, 0.3);
	border-radius: 4px;
}

.about {
	columns: 4;

}

p {
	margin-top: 0;
}

.disclaimer {
	font-size: 80%;
	font-style: italic;
}

.demo {
	padding: 20px 40px;
	background: #eee;
}